<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    
  	<display-name>DareToBeDigital</display-name>
  
  
  
  
  	<servlet>
  	<servlet-name>helloservlet</servlet-name>
  	<servlet-class>no.nith.HelloServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  	<servlet-name>helloservlet</servlet-name>
  	<url-pattern>/hello</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	<servlet>
  	<servlet-name>contestservlet</servlet-name>
  	<servlet-class>no.nith.ContestServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  	<servlet-name>contestservlet</servlet-name>
  	<url-pattern>/contest</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	<servlet>
  	<servlet-name>newsservlet</servlet-name>
  	<servlet-class>no.nith.NewsServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  	<servlet-name>newsservlet</servlet-name>
  	<url-pattern>/news</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	
  	
  	
  	
  	
  	<servlet>
  	<servlet-name>contactservlet</servlet-name>
  	<servlet-class>no.nith.ContactServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  	<servlet-name>contactservlet</servlet-name>
  	<url-pattern>/contact</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	
  	
  	
  	
  	
  	<servlet>
  	<servlet-name>aboutservlet</servlet-name>
  	<servlet-class>no.nith.AboutServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  	<servlet-name>aboutservlet</servlet-name>
  	<url-pattern>/about</url-pattern>
  	</servlet-mapping>
  
  
  
  
  	<servlet>
  	<servlet-name>usersearchservlet</servlet-name>
  	<servlet-class>no.nith.UserSearchServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	<servlet-name>usersearchservlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	<servlet-name>edituserservlet</servlet-name>
  	<servlet-class>no.nith.EditUserServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	<servlet-name>edituserservlet</servlet-name>
  	<url-pattern>/edit</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	<servlet-name>successservlet</servlet-name>
  	<servlet-class>no.nith.SuccessServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	<servlet-name>successservlet</servlet-name>
  	<url-pattern>/success</url-pattern>
  	</servlet-mapping>
  	
  	
  	<servlet>
  	<servlet-name>errorservlet</servlet-name>
  	<servlet-class>no.nith.ErrorServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	<servlet-name>errorservlet</servlet-name>
  	<url-pattern>/ouch</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	<servlet>
  	<servlet-name>registerservlet</servlet-name>
  	<servlet-class>no.nith.RegisterServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	<servlet-name>registerservlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	<servlet>
  	<servlet-name>applyservlet</servlet-name>
  	<servlet-class>no.nith.ApplyServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	<servlet-name>applyservlet</servlet-name>
  	<url-pattern>/apply</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	
  	<servlet>
  	<servlet-name>mingleservlet</servlet-name>
  	<servlet-class>no.nith.MingleServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	<servlet-name>mingleservlet</servlet-name>
  	<url-pattern>/mingle</url-pattern>
  	</servlet-mapping>
  
  
  
  
  
  
  
  	<servlet>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>no.nith.InsertUserServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/insert</url-pattern>
  	</servlet-mapping>
 
  
  	<error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
	</error-page>

	 
</web-app>
