* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
}

body, html{ 
margin:0; 
padding:0; 
height:100%;
background-image: url(img/bgtile.png);
}

li{
display:inline;
margin:0px;
height:33px;
margin-right:0px;
}

p{
text-align: left;
font-family:"Verdana", sans-serif;
font-style: normal;
font-size: 10pt;
overflow: hidden;
color:#ccc;
}

a:link {color:#ccc; text-decoration: none}
a:visited {color:#ccc;} 
a:hover {color:#b7d8f6;}
a:active {color:#b7d8f6;} 



#container {
height:auto;
position:relative;
width:100%;
overflow: visible;
}

.frostytop{
	background-image: url(img/frostytop.png);
	background-repeat: repeat-x;
	height:154px;
	width:auto;
	margin-bottom:-100px;
}






.header{
	width:100%;
	height:auto;
	position: relative;
	margin-bottom:50px;
}
.headerbg{
	position: absolute;
	bottom: 0;
	background-image: url(img/menubg.png);
	background-repeat: repeat-x;
	height:42px;
	width: 100%
}

.logomenuwrap{
	width: 950px;
	height:150px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.menu{
	position:absolute;
	right:10px;
	bottom:9px;
	margin:0;
	font-family:"Verdana", sans-serif;
	font-size: 11pt;
}
.logo{
	background-image: url(img/logo.png);
	width:347px;
	height:111px;
	position: absolute;
	bottom:0px;
	left:0px;
}




.content{
position: relative;
width:950px;
height:auto;
margin-left:auto;
margin-right:auto;
margin-bottom:0;
margin-top:0;
}

.whatisheader{
margin-top:20px;
position:relative;
background-image: url(img/whatisheader.png);
background-repeat:no-repeat;
height:33px;
width:521px;
}

.whatis{
position:relative;
margin-top:5px;
margin-bottom:0px;
width:519px;
height:auto;
background-color:#333;
border: solid 1px #dfe1e4;
outline: solid 1px #333;
}

.whatistext{
color:white;
margin:10px;
text-align: left;
}

.applyheader{
margin-top:20px;
position:relative;
background-image: url(img/applyheader.png);
background-repeat:no-repeat;
height:33px;
width:521px;
}

.apply{
position: relative;
margin-top:5px;
background-image:url(img/applybg.png);
width:521px;
height:87px;
}

.applygroup{
position: absolute;
right:1px;
top:26px;
margin:0;
}

.applygroup:hover{
	background-image: url(img/applywithagrouphover.png);
}

.applysolo{
position:absolute;
left:1px;
top:26px;
}
.applysolo:hover{
	background-image:url(img/findagrouphover.png);
}

.spotwrap{
	height:307px;
	width: 403px;
	float: right;
	position:absolute;
	top:0;
	right:0;
}
.spotlightheader{
position:relative;
background-image: url(img/spotlightheader.png);
background-repeat:no-repeat;
height:33px;
width:405px;
}

.spotlight{
position:relative;
margin-top:5px;
margin-bottom:0px;
width:403px;
height:268px;
background-color:#333;
border: solid 1px #dfe1e4;
outline: solid 1px #333;
overflow: hidden;
}

.spotlighttext{
color:white;
margin:10px;
text-align: left;
}

.newsheader{
margin-top:50px;
position:relative;
background-image: url(img/newsheader.png);
background-repeat:no-repeat;
height:33px;
width:100%;
}

.news{
position:relative;
margin-top:5px;
margin-bottom:0px;
width:948px;
background-color:#333;
border: solid 1px #dfe1e4;
outline: solid 1px #333;
}

.newstext{
color:white;
margin:10px;
text-align: left;
}

.newspic{
position:relative;
float:right;
margin-left:5px;
margin-bottom:5px;
}

.footer{
position: relative;
background-image: url(img/frostybottom.png);
background-repeat: repeat-x;
width:100%;
height:350px;   
} 